* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

/*Variables--------------------------------------------------*/
:root {
  --text-black: #0d0d0d;
  --text-black-secondary: #272727;
  --primary-color: #1b2325;
  --secondary-color: #b5d1e2;
}

/*experience page 3D model--------------------------------------------------*/
.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvase {
  width: 100%;
  height: 100%;
}
/*actual page--------------------------------------------------*/
.page {
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

/*sections---------------------------------------------------*/

.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--secondary-color);
}

.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}

.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 400px;
}

.section-detail-wrapper {
  position: relative;
  padding: 20% 5%;
}

.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
}

.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 14px;
  opacity: 0.8;
}

/*fancy part*/

.section-title {
  position: relative;
  color: var(--primary-color);
}

.section-title-text {
  /*important*/
  display: block;
  /*important*/
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
}

.styleOne,
.styleTwo,
.styleThree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--primary-color);
  transform-origin: left;
  transform: skewY(-25deg);
}

.styleOne {
  top: 0px;
}

.styleTwo {
  top: 80px;
}

.styleThree {
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--primary-color);
}

.section-number {
  position: absolute;
  bottom: 15px;
  right: 0;
  font-size: 16px;
  font-weight: 800;
}
/*hero section--------------------------------------------------*/
.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main {
  position: absolute;
  bottom: 150px;
  left: 0;
}

.hero-main-title {
  font-size: 42px;
}

.hero-main-description {
  font-size: 14px;
  opacity: 0.7;
}

.hero-second {
  position: absolute;
  top: calc(50% - 100px);
  right: -60px;
}

.hero-second-subheading {
  font-size: 32px;
  font-weight: 400;
}
